<!-- pharmacy.hbs -->
<main>
<form id="search-pharmacy" >
    <div class = 'ui-widget'>
    <label for="inputCity"> Enter city </label>
    <input type="text" id="inputCity" name="inputCity"> 
    <label for="distance-dropdown"> Distance(optional) </label>
    <select id="distances">
        <option value="0"> within city</option>
        <option value="15"> 15 miles</option>
        <option value="25"> 25 miles</option>
        <option value="35"> 35 miles</option>
    </select>
    <input type='submit' id="bnt" value="Search">
    </div>
</form>

<h3 id="count-here"></h3>
<div id="table-here" class="pharmacy-table"hidden></div>
<script id="resultTemplate" type="text/x-handlebars-template">
    <table>
        <thead>
                <div class="table-header">Pharmacy</div>
        </thead>
        <tbody>
            \{{#each data}}
                <tr>
                    <td>
                    <strong>\{{pharName}}<br></strong>
                    \{{addr}}<br>
                    \{{city}} \{{st}} \{{zip}}<br>
                    \{{tel}}<br>
                    </td>
                </tr>
            \{{/each}}
        </tbody>
    </table>
</script>
</main>

<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="./js/pharmacy.js"></script>

